<!DOCTYPE html>
<title>Roller Summary Table</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jumbotron.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename='roller.js') }}">
</script>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<html>
  <body>
    <div class="container">
      <div class="header">
	<nav>
	  <ul class="nav nav-pills pull-right">
	    <li role="presentation" class="active"><a href="/">Home</a>
	    </li>
	    <li role="presentation"><a href="#">Sign In</a>
	    </li>
	    <li role="presentation"><a href="#">Sign Up</a>
	    </li>
	  </ul>
	</nav>
	<h3 class="text-muted">ART for PUR</h3>
      </div>
    </div>
    <article style="width:730px">
      <p>List of the tested rollers.</p>
      {% if roller %}
      <p> Detail of roller {{ roller }}.</p>
      {% else %}
      <p> No roller selected </p>
      {% endif %}
    </article>
  </body>
</html>
